.takeValueBG{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: cadetblue;
    display: none;
}

.inputValue{
    position: fixed;
    width: 65%;
    margin-left: 15%;
    margin-right: 15%;
    top: 100px;
    height: 70px;
    background-color: cornsilk;
    
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    display: none;   
}

.okOfValue{
    position: fixed;
    top: 200px;
    width: 67%;
    height: 30px;
    margin-top: -20px;
    margin-left: 15%;
    margin-right: 15%;
    color: cornsilk;
    background-color: rgb(26, 170, 81);
    user-select: none;

    font-size: 16px;
    font-weight: bolder;
    font-style: oblique;
    display: none;

}
.okOfValue:active{
    position: fixed;
    top: 200px;
    width: 67%;
    height: 30px;
    margin-top: -20px;
    margin-left: 15%;
    margin-right: 15%;
    color: cornsilk;
    background-color: rgb(13, 66, 34);
    user-select: none;

    font-size: 16px;
    font-weight: bolder;
    font-style: oblique;
}




/* function area */

.functionArea{
    position:relative;
    top: 60px;
    background-color: darkgoldenrod;
    width: 100%;
    height: 40px;
}

.btnOfValue{
    position: relative;
    margin: 4px;
    background-color: rgb(32, 255, 24);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    border-radius: 20px;
}